.button {
    width: 100%;
    color: #ffffff;
    background: #3782DA;
    font-family: 'Futura PT Medium', Helvetica, Arial, sans-serif;
    line-height: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button:hover, .button:active {
    background: #3075c5;
}

.buttonSmall {
    height: 36px;
    font-size: 18px;
    border-radius: 10px;
}

.buttonBig {
    height: 61px;
    font-size: 20px;
    border-radius: 15px;
}