@import-normalize;

@font-face {
    font-family: 'Futura PT Book';
    src: url('./assets/fonts/FuturaPTBook.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url('./assets/fonts/FuturaPTMedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('./assets/fonts/FuturaPTDemi.otf');
    font-weight: 600;
}

body {
    margin: 0;
}